<% _.each(users, function(user) { %>
<tr>
    <td class="userName" data-userId="<%= user.userId %>"><%= user.userName %></td>
    <td class="userRank"><%= user.getRank() %></td>
    <% if (user.isPlayer) { %>
    <td></td>
    <% } else if (user.isInvited) { %>
    <td class="inviteBtn activeInviteBtn" data-userId="<%= user.userId %>">Отмена</td>
    <% } else { %>
    <td class="inviteBtn" data-userId="<%= user.userId %>">Пригласить</td>
    <% } %>

</tr>

<% }) %>