<div class="tabs">
    <div class="tab" data-type="public"><%= locale.tabs.main %></div>
    <div class="tab" data-type="room" style="display: none;"><%= locale.tabs.room %></div>
    <div class="tab" data-type="private" style="display: none;">игрок</div>
</div>
<div class="clear"></div>
<div class="messagesWrap"><ul></ul></div>
<div class="inputMsg" contenteditable="true"></div>
<div class="layer1">
    <div class="sendMsgBtn"><%= locale.buttons.send %></div>
    <select id="chat-select">
        <option selected style="font-style: italic;"><%= locale.templateMessages.header %></option>
        <option>Ваш ход!</option>
        <option>Привет!</option>
        <option>Молодец!</option>
        <option>Здесь кто-нибудь умеет играть?</option>
        <option>Кто со мной?</option>
        <option>Спасибо!</option>
        <option>Спасибо! Интересная игра!</option>
        <option>Спасибо, больше играть не могу. Ухожу!</option>
        <option>Спасибо, интересная игра! Сдаюсь!</option>
        <option>Отличная партия. Спасибо!</option>
        <option>Ты мог выиграть</option>
        <option>Ты могла выиграть</option>
        <option>Ходи!</option>
        <option>Дай ссылку на твою страницу вконтакте</option>
        <option>Снимаю шляпу!</option>
        <option>Красиво!</option>
        <option>Я восхищен!</option>
        <option>Где вы так научились играть?</option>
        <option>Еще увидимся!</option>
        <option>Ухожу после этой партии. Спасибо!</option>
        <option>Минуточку</option>
    </select>
</div>
<div class="layer2">
    <span class="chatAdmin">
        <input type="checkbox" id="chatIsAdmin"/><label for="chatIsAdmin">От админа</label>
    </span>

    <span class="chatRules"><%= locale.buttons.chatRules %></span>
</div>

<ul class="menuElement noselect">
    <li data-action="answer"><span><%= locale.menu.answer %></span></li>
    <li data-action="invite"><span><%= locale.menu.invite %></span></li>
    <li data-action="showProfile"><span><%= locale.menu.showProfile %></span></li>
    <li data-action="ban"><span><%= locale.menu.ban %></span></li>
</ul>