<li class="chatMsg" data-msgId="<%= msg.time %>">
    <div class="msgRow1">
        <div class="smallRight time"><%= msg.t %></div>
        <div class="smallRight rate"><%= (msg.rank || '—') %></div>

        <div data-userId="<%= msg.userId%>">
            <span class="userName"><%= msg.userName %></span>
        </div>
    </div>
    <div class="msgRow2">
        <div class="delete" title="Удалить сообщение"></div>
        <div class="msgTextWrap">
            <span class="v6-msgText"><%= _.escape(msg.text) %></span>
        </div>
    </div>
</li>