<li>
    <div class="msgRow1">
        <div data-userId="<%= user.userId%>">
            <span class="userName"><%= user.userName %></span>
        </div>
        <span <%= msg.time%>></span>
    </div>
    <div class="msgRow2">
        <span class="msgText" data-msgId="<%= msg.msgId %>">
            <%= msg.msgText %>
    </span>
    </div>
</li>