<li class="chatMsg" data-msgId="<%= msg.msgId %>">
    <div class="msgRow1">
        <div class="smallRight time"><%= msg.time %></div>
        <div class="smallRight rate"><%= (user.rate || '-') %></div>

        <div data-userId="<%= user.userId%>">
            <span class="userName"><%= user.userName %></span>
        </div>
    </div>
    <div class="msgRow2">
        <span class="msgText">
            <%= msg.msgText %>
    </span>
        <div class="delete">&dagger;</div>
    </div>
</li>