<p><%= result %></p>
<%= (rankResult && rankResult.length) ? '<p>' + rankResult + '</p>' : '' %>
<%= vkPost ? '<span class="vkWallPost">Рассказать друзьям</span>' : ''%>
<span class="dialogGameAction"><%= locale.dialogPlayAgain %></span>
<div class="roundResultTime"><%= locale.inviteTime %><span>30</span><%= locale.seconds %></div>
