<div id="v6-history" class="v6-block-border">
    <div class="historyHeader">
        <div class="historyFilter">
            <input type="text" placeholder="<%= locale.placeholder %>" id="historyAutoComplete" value="">
            <div class="delete" style="background-image: url(<%= imgDel %>)"></div>
        </div>
        <img class="closeIcon" src="<%= close %>" title="<%= locale.close %>">
    </div>
    <div class="historyWrapper">
        <table class="historyTable">
            <thead>
                <tr></tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div id="showMore"><%= locale.showMore%></div>
        <div class="noHistory"><%= locale.noHistory %></div>
        <div class="loading"><img src="<%= spin %>"></div>
    </div>
</div>